<form [formGroup]="addChildForm" (ngSubmit)="onSubmit()" class="form-container">
  <h2>Ihr Kind anmelden!</h2>

  <mat-form-field class="form-input-element">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" type="input" formControlName="name"/>
    <mat-error *ngIf="addChildForm.get('name')?.hasError('required')">Dieses Feld ist erforderlich!</mat-error>
    <mat-error *ngIf="addChildForm.get('name')?.hasError('minlength')">Der Name muss aus mindestens 3 Zeichen bestehen!</mat-error>
  </mat-form-field>

  <mat-form-field class="form-input-element">
    <mat-label>Geburtsdatum</mat-label>
    <input
      matInput
      [matDatepicker]="birthDatePicker"
      id="birthDate"
      formControlName="birthDate"
      placeholder="Birth Date"
      class="form-input-element"
    />
    <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #birthDatePicker></mat-datepicker>
    <mat-error *ngIf="addChildForm.get('birthDate')?.hasError('required')">Dieses Feld ist erforderlich!</mat-error>
    <mat-error
      *ngIf="addChildForm.get('birthDate')?.hasError('dateTooRecent')">
      {{ addChildForm.get('birthDate')?.getError('errorMessage') }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-input-element">
    <mat-label>Kindergarten</mat-label>
    <mat-select formControlName="kindergardenId">
      <mat-option value="" disabled>Bitte auswählen</mat-option>
      <mat-option *ngFor="let kindergarden of storeService.kindergardens" [value]="kindergarden.id">
        {{ kindergarden.name }}, {{ kindergarden.address }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="addChildForm.get('kindergardenId')?.hasError('required')">Dieses Feld ist erforderlich!</mat-error>
  </mat-form-field>

  <input type="hidden" formControlName="registrationDate">


  <button mat-raised-button color="primary" type="submit" class="form-button" [disabled]="addChildForm.invalid">Erfassen</button>
</form>
