.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px; /* Adjust this value as needed */
}

.kindergarden-image {
  max-height: 100%;
  max-width: 100%;
}
